# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password
DB_NAME=school_examination
DB_SSLMODE=disable

# Server
SERVER_PORT=8080

# JWT
JWT_SECRET=your_super_secret_key_here

# CORS (pisahkan dengan koma jika lebih dari satu origin)
CORS_ORIGINS=http://localhost:3000
